<p class="email-index not-read my-0"><span class="email-read">Non-lu</span> | <%= link_to email.title, email_path(email.id), remote: true, :class => "show-email" %> | <%= link_to "Supprimer", email_path(email.id), remote: true, :data => {:confirm => "Vous êtes sûr ?", :method => "delete"}, :class => "text-dark delete-email" %>
</p>
